<h1>Contactenos</h1>

<div class="container">
    <form role="form" id="Formulario" action="" method="POST">
        <div class="form-group">
            <label class="control-label" for="Nombre">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Introduzca su nombre"
                required autofocus />
        </div>
        <br>
        <div class="form-group">
            <label class="control-label" for="Motivo">Motivo de Contacto</label>
            <select name="Motivo" class="form-control">
                <option value="Consulta General">Consulta General</option>
                <option value="Realizar Pedido">Solicitar Cotizaci贸n</option>
                <option value="Informe un problema">Servicio PostVenta</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label" for="Correo">Direcci贸n de Correo Electr贸nico</label>
            <input type="email" class="form-control" id="Correo" name="Correo"
                placeholder="Introduzca su correo electr贸nico" required />
        </div>
        <br>
        <div class="form-group">
            <label class="control-label" for="Mensaje">Mensaje</label>
            <textarea rows="5" cols="30" class="form-control" id="Mensaje" name="Mensaje"
                placeholder="Introduzca su mensaje" required></textarea>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Enviar">
            <input type="reset" class="btn btn-default" value="Limpiar">
        </div>
        <div id="respuesta" style="display: none;"></div>
    </form>
</div>
</div>