
<main>
    <div class="main">
        <div class="info-content">
            <h1>Olá, eu sou <span>César</span> Rosales</h1>
            <p>Desenvolvedor Web - Full Stack</p>
        </div>
    </div>
    <div class="about">
        <div class="about-info" id="sobre-mim">
            <h2>Sobre mim...</h2>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores id cumque asperiores fugit,
                quis
                repudiandae accusamus quisquam modi numquam laudantium fugiat enim eum pariatur amet illum
                recusandae
                debitis reprehenderit sed?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores id cumque asperiores fugit,
                quis
                repudiandae accusamus quisquam modi numquam laudantium fugiat enim eum pariatur amet illum
                recusandae
                debitis reprehenderit sed?</p>
        </div>
        <h2><%= link_to 'Mis Proyectos', desafio_projects_path %></h2>
    </div>
</main>