<h1>Proyectos</h1>

<div class="card-group">
  <div class="card">
    <%= image_tag("project1.png")%>
    <div class="card-body">
      <h5 class="card-title">Proyecto Cuppon</h5>
      <p class="card-text">Desarrollado con HTMl5, CSS3, JavaScript, Bootstrap</p>
    </div>
    <div class="card-footer">
      <a href="https://github.com/dwebcarc/desafioCuppon.git" class="btn btn-primary vermas">Ver más</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag("project1.png")%>
    <div class="card-body">
      <h5 class="card-title">Proyecto Cuppon</h5>
      <p class="card-text">Desarrollado con HTMl5, CSS3, JavaScript, Bootstrap</p>
    </div>
    <div class="card-footer">
      <a href="https://github.com/dwebcarc/desafioCuppon.git" class="btn btn-primary vermas">Ver más</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag("project1.png")%>
    <div class="card-body">
      <h5 class="card-title">Proyecto Cuppon</h5>
      <p class="card-text">Desarrollado con HTMl5, CSS3, JavaScript, Bootstrap</p>
    </div>
    <div class="card-footer">
      <a href="https://github.com/dwebcarc/desafioCuppon.git" class="btn btn-primary vermas">Ver más</a>
    </div>
  </div>
  </div>
</div>
